:root {
  --navbar: 20;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Home:before {
  content: "Best Burger in town";
  font-size: calc(2rem + 0.5vw);
  margin-bottom: 48px;
}
.Home:after {
  content: "Order Now";
  font-size: calc(2rem + 0.5vw);
  margin-top: 48px;
}
.Chef {
  border-radius: 100%;
  max-width: 80%;
}
