:root {
  --navbar: 20;
}

.BurgerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 40%;
}
.BurgerContainer img {
  max-width: 100%;
}

.BurgerContainer p {
  font-size: 1vw;
  margin-top: 1%;
}
.Menu {
  gap: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 48px;
}
