:root {
  --navbar: 20;
}

.ContactUs:after,
.ContactUs:before {
  font-size: 3rem;
}
.ContactUs:before {
  content: "Our Email:SmashBurger@yahoo.com";
}

.ContactUs:after {
  content: "Our phone Number:07775000";
}
