:root {
  --navbar: 20;
}

.ContactUs:after,
.ContactUs:before {
  font-size: calc(1vw + 1rem);
  margin: 48px 48px;
}
.ContactUs:before {
  content: "Our Email:SmashBurger@yahoo.com";
}

.ContactUs:after {
  content: "Our phone Number:07775000";
}

.ContactUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
